.transactions-list {
  margin-top: 2em;
  width: 100%;
}

/* Transaction Table Styling */
.transactionTable {
  width: 100%;
  border-collapse: collapse;
}
.transactionTable th,
.transactionTable td {
  border: 1px solid #208f04;
  padding: 8px;
  width: 50%;
}

.transactionTable thead {
  color: rgb(0, 0, 0);
  width: 100%;
}

/* Row Styling based on type */
.transactionRow {
  background-color: #fcadad;
}
.depositRow {
  background-color: #ddf0d8;
}

/* Total Amount Styling based on value */
.positiveTotal,
.negativeTotal {
  font-size: 2rem;
  margin: 2rem;
}
.positiveTotal {
  color: #208f04;
}
.negativeTotal {
  color: #ff0000;
}
